<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="index.css" />
</head>

<body>
  <div class="main">
    <form action="" method="post">
      <button type="submit">Was this useful?</button>
    </form>
    <h5 id="counter">Useful Counter: <%= count %>
    </h5>

  </div>
</body>
</html>
